@use "sass:math";
@import "bulma.sass";

// fontawesome-free
$fa-font-path: '/static/fonts/fontawesome_free/webfonts';
@import "/static/fonts/fontawesome_free/scss/fontawesome.scss";
@import "/static/fonts/fontawesome_free/scss/regular.scss";
@import "/static/fonts/fontawesome_free/scss/solid.scss";
@import "/static/fonts/fontawesome_free/scss/brands.scss";

// bulma overrides
.navbar.is-dark .navbar-brand > .navbar-item .title {
  color: inherit;
}

html, body, div#root {
  min-height: 100vh;
}


.app-container {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;

  aside.side-menu {
    width: 15rem;
    flex-grow: 0;
    background-color: $light;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  main {
    flex-grow: 1;
  }
}

$preview-width: 40vw;
div.preview {
  position: relative;
  width: $preview-width;
  height: math.div($preview-width, 16) * 9;
  background-color: #656565;
}

$lower-third-zindex: 200;
.lower-third {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: $lower-third-zindex;

  span:empty {
    display: none;
  }
}

.lower-third.lower-third-aec-centered {
  .lt-title {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 16%;
    text-align: center;

    span {
      background-color: #333333;
      color: #ffffff;
      font-size: 29px;
      font-weight: 600;
      padding: 5px;
    }
  }
  .lt-subtitle {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 8.5%;
    z-index: $lower-third-zindex + 1;
    text-align: center;

    span {
      background-color: #c2cc2d;
      color: #333333;
      font-size: 19px;
      font-weight: 600;
      padding: 4px;
    }
  }
}

// utilities

.narrower {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  border-radius: 2rem;;
}

.align-right {
  text-align: right;
}
